<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Booking</title>
    <link rel="stylesheet" href="{{url_for('static',filename='appointment.css')}}">
</head>
<body>
    <header>
        <div class="logo-container">
            <div class="logo">
                <img src="{{url_for('static',filename='logo.png')}}" alt="Pinnacle Hospital Logo">
            </div>
            <div class="hospital-name">Pinnacle Hospital</div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <button class="logout-btn"><a href="/">Logout</a></button>
        </div>
    </header>
    <main>
        <section class="appointment-form-section">
            <h1>Book an Appointment</h1>
            <form action="/app" method="post">
                <label for="patient-name">Patient Name:</label>
                <input type="text" id="patient-name" name="patient-name">
                <label for="doctor-name">Provider Name:</label>
                <select id="doctor-name" name="doctor-name">
                    {% for name in doctor_names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>

                <label for="appointment-date">Date:</label>
                <input type="date" id="appointment-date" name="appointment-date">

                <label for="appointment-time">Time:</label>
                <input type="time" id="appointment-time" name="appointment-time">

                <label for="patient-notes">Notes:</label>
                <textarea id="patient-notes" name="patient-notes" rows="4"></textarea>

                <button type="submit" class="appointment-btn">Book Appointment</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Pinnacle Hospital</p>
    </footer>
</body>
</html>
